{{define "tailwind_head"}}
  <script src="https://cdn.tailwindcss.com"></script> <!-- try and remove back to local-->
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            brand: {
              50: '{{.Colors.C50}}',
              100: '{{.Colors.C100}}',
              200: '{{.Colors.C200}}',
              300: '{{.Colors.C300}}',
              400: '{{.Colors.C400}}',
              500: '{{.Colors.C500}}',
              600: '{{.Colors.C600}}',
              700: '{{.Colors.C700}}',
              800: '{{.Colors.C800}}',
              900: '{{.Colors.C900}}'
            }
          }
        }
      }
    }
  </script>
{{end}}
